[user]
pinned=/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/firefox.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/discord.desktop;/usr/share/applications/org.xfce.mousepad.desktop;/usr/share/applications/org.manjaro.pamac.manager.desktop;
