[Desktop Entry]
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=false
Name=XeroLinux Hello
Exec=/usr/bin/xerowelcome
Icon=org.xerolinux.welcome
Comment=A tool providing access to documentation and support for new XeroLinux users.
Comment[da]=En app med adgang til dokumentation og support for nye XeroLinux brugere.
Comment[de]=Ein Tool für schnellen Zugriff auf Support und Dokumentation für neue XeroLinux-Nutzer.
Comment[es]=Una herramienta que provee acceso a la documentación y soporte para nuevos usuarios de XeroLinux.
Comment[fr]=Outil d'accès à la documentation et support aux nouveaux utilisateurs de XeroLinux.
Comment[nl]=Een manier voor nieuwe XeroLinux gebruikers om toegang tot documentatie en support te krijgen.
Comment[pl]=Narzędzie ułatwiające dostęp do dokumentacji i pomocy przeznaczone dla nowych użytkowników XeroLinux.
Comment[pt_BR]=Uma ferramenta que fornece acesso à documentação e suporte para novos usuários XeroLinux.
Comment[pt_PT]=Uma ferramenta que fornece acesso à documentação e suporte para novos usuários XeroLinux.
Comment[ru]=Средство доступа к документации и поддержке для новых пользователей XeroLinux.
Comment[it]=Strumento per accedere alla documentazione e supporto per nuovi utenti XeroLinux.
Comment[tr]=Yeni XeroLinux kullanıcıları için dökümantasyon ve destek sağlayan bir araç.
